@model IPagedList<RestaurantListViewModel>
@{
    ViewBag.Title = "Home Page";
}

<form method="GET" action="@Url.Action("Index")"
      data-otf-ajax="true" data-otf-target="#restaurantList">
    <input type="search" name="searchTerm" data-otf-autocomplete="@Url.Action("Autocomplete")"/>
    <input type="submit" value="Search by name"/>

</form>
@ViewBag.MailServer
@Html.Partial("_Restaurants",Model)